<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<link rel="stylesheet" href="/styles/styles.css">
<link rel="stylesheet" href="/styles/pygment_trac.css">
<meta name="viewport" content="width=device-width, initial-scale=1" >
<meta property="og:title" content="{{ page.title }}" >
<meta property="og:site_name" content="Kevin M Granger" >
{% for gi in page.og %}
<meta property="{{ gi[0] }}" content="{{ gi[1] }}" >
{% endfor %}

<!--[if lt IE 9]> <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->
