.nametitle {
	flex: 2 1 20rem;
}
.contact {
	flex: 5 3 25rem;
	-webkit-flex: 5 3 25rem;
	text-align: justify;
	flex-flow: row wrap;
	-webkit-flex-flow: row wrap;
	display: -webkit-flex;
	display: flex;
	justify-content: space-around;
	align-content: space-around;
	align-items: baseline;
	-webkit-justify-content: space-around;
	-webkit-align-content: space-around;
	-webkit-align-items: baseline;
}
.contact > div {
	min-width: 175px;
	display: -webkit-flex;
	display: flex;
	
	flex-flow: row wrap;
	justify-content: center;

}
.contact .icon {
	flex: 1 0 15px;
	margin-right: 10px;
	text-align: center;
}
.contact .contactinfo {
	flex: 5 0 130px;
}

* {
	font-family: 'Open Sans', sans-serif;
}

ul {
	margin-top: 4px;
}
body {
	background: white;
	min-width: 445px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

body > section {
	flex: 1 0 auto;
	max-width: 100%;
}
@media screen and (min-width: 8in) {
	body {
		max-width: 8in;
		max-height: 10.5in;
		padding: .2in .5in .5in .5in;
		margin: .4in auto;
		border: solid black 1px;
	}
	html {
		background: lightgray;
	}
}
.edu, .courses {
	//max-width: 25em;
	//text-align: left;
}

h1,h2,.name,.my-title {
	color: #E56B06;
}
hr {
	margin-bottom: 0;
	width: 100%;
}
h1 {
	font-size: 18px;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
}


.name {
	letter-spacing: 0.08em;
	font-size: x-large;
	font-weight: bold;
	text-align: center;
	margin: 0 0 8px 0;
}
.title {
	font-size: large;
	text-align: center;
	margin: 8px 0;
}
.skills > p {
	text-align: center;
	margin: 8px auto;
	word-spacing: 10px;
}
.refs > p {
	margin-top: 16px;
	text-align: center;
}
@media print {
}
.edu > p {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	margin-top: 4px;
	margin-bottom: 4px;
}
.edu > p:first-of-type {
	display: block;
	text-align: center;
}
.exp {
	display: flex;
	flex-flow: row wrap;
}
.exp > h1 {
	flex: 1;
}
.exp > div {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin-bottom: 9px; // used to be on ps
}
.exp h2 {
	font-size: 17px;
	font-weight: 400;
	margin-top: 0;
	margin-bottom: 8px; // used to be on ps
}
.exp h3 {
	font-size: 16px;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 0;
}
.exp p {
	margin-top: 4px;
	margin-bottom: 4px;
}


li {
	margin-top: 4px;
	margin-bottom: 4px;
}
	
